.App {
  text-align: center;
  font-size: 2em;
  background-color: black;
}
.weather {
  text-align: center;
  padding: 2em;

}

.App-title {
  font-size: 2.2em;
}

.centerIt {
  text-align: center;
}

.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
}

h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 2em;
  text-shadow: 2px 2px #ff0000;
}

p {
  padding-top: 2em;
  padding-bottom: 2em;
}

.header {
  text-align:left;
  padding-left: 3em;
}

p {
  text-align: center;
  text-transform: full-width;
  font-size: 2em;
}
